table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .espaceIcon{
    margin-right: 5px;
  }
  
  .couleurIcondelete{
    color: #ff4e1d;
  }
  .couleurIconview{
    color:grey;
  }
  .couleurIconactiv{
    color:rgba(20, 94, 112, 0.822);
  }
